fastapi
uuid
uvicorn
python-dotenv
sqlalchemy 
pymysql
opencv-python
numpy
imutils
ultralytics==8.0.228
scipy
cryptography
datetime
openai
# langchain
# langchain-experimental
# langchain-openai
# langchain-community
# transformers
# accelerate